<div class="main-container">
  <!-- Título principal de Administrar Rutas (fuera del contenedor) -->
  <div class="volver-container">
    <a href="http://localhost:4200/" class="volver-btn">Volver al Inicio</a>
  </div>

  <h2 class="main-title">Administrar Rutas</h2>

  <!-- Administrar Rutas -->
  <div class="administrar-container">
    <div class="filter-fields">
      <div class="filter-field">
        <label for="origen-filtro">Origen:</label>
        <select [(ngModel)]="origenFiltro" id="origen-filtro" (change)="filtrarRutas()">
          <option value="">Seleccione Origen</option>
          <option *ngFor="let origen of origenes" [value]="origen">{{ origen }}</option>
        </select>
      </div>

      <div class="filter-field">
        <label for="destino-filtro">Destino:</label>
        <select [(ngModel)]="destinoFiltro" id="destino-filtro" (change)="filtrarRutas()">
          <option value="">Seleccione Destino</option>
          <option *ngFor="let destino of destinos" [value]="destino">{{ destino }}</option>
        </select>
      </div>
    </div>
  </div>

  <!-- Crear Nueva Ruta -->
  <div class="form-container">
    <h3>Crear Ruta</h3><br>
    <div class="form-fields">
      <div class="form-field">
        <label for="origen">Origen:</label>
        <input type="text" [(ngModel)]="nuevaRuta.origen" id="origen" placeholder="Ingrese el origen">
      </div>

      <div class="form-field">
        <label for="destino">Destino:</label>
        <input type="text" [(ngModel)]="nuevaRuta.destino" id="destino" placeholder="Ingrese el destino">
      </div>

      <!-- Agrupar los elementos en una fila -->
      <div class="form-field-group">
        <div class="checkbox-container">
          <label for="escalas" class="checkbox-label">¿Tiene Escalas?</label>
          <input type="checkbox" [(ngModel)]="nuevaRuta.tieneEscalas" id="escalas">
        </div>
        
        <button class="crear-ruta-btn" (click)="crearRuta()">Agregar Ruta</button>
      </div>
    </div>
  </div>

  <!-- Mostrar Rutas Filtradas -->
  <div class="rutas-lista">
    <h3>Rutas Existentes</h3><br>
    <ul>
      <li *ngFor="let ruta of rutasFiltradas">
        {{ ruta.origen }} - {{ ruta.destino }}
        <div class="action-buttons">
          <button (click)="eliminarRuta(ruta.id)" class="eliminar-btn">Eliminar</button>
          <button (click)="editarRuta(ruta)" class="editar-btn">Editar</button>
        </div>
      </li>
    </ul>
  </div>
</div>